<!DOCTYPE html>
<html>
<head>
  <title>{{#block "title"}}{{tutor.name}} {{/block}}</title>
  <style>
    body {
      padding: 80px;
      font: 16px Helvetica, Arial;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.2em;
    }

    #posts {
      margin: 0;
      padding: 0;
    }

    #posts li {
      margin: 40px 0;
      padding: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      list-style: none;
    }

    #posts li:last-child {
      border-bottom: none;
    }

    textarea {
      width: 500px;
      height: 300px;
    }

    input[type=text],
    textarea {
      border: 1px solid #eee;
      border-top-color: #ddd;
      border-left-color: #ddd;
      border-radius: 2px;
      padding: 15px;
      font-size: .8em;
    }

    input[type=text] {
      width: 500px;
    }
  </style>
</head>
<body>
  <section id="content">
    {{#block "content"}}
  <h1>{{ tutor.name }}</h1>
<!-- add in hidden fields for potentially 7 days of work -->
  <p>{{tutor.weekday}}:{{tutor.hours}}</p>
  <p>{{tutor.email}}</p>
  <p>{{tutor.address}}</p>
  {{#each tutor.students}}
  <p>{{this.name}}:{{this.subject}}:{{this.ad}}</p>
  {{/each}}
  <p>{{tutor.interests}}</p>
  <p>{{tutor.learning_diff}}</p>
  <p>{{tutor.bio}}</p>
  <p>{{tutor.failed_matches}}</p>
  <p>{{tutor.notes}}</p>
  <p><i>Created On: </i> {{ tutor.created_on }}</p>
  <p><i>Last Updated On: </i> {{ tutor.updated_on }}</p>
  <p><a href="/tutor/edit/{{tutor._id}}">Edit</a></p> 
  <p><a href="/tutor/delete/{{tutor._id}}">Delete</a></p>
  <p><a href="/tutors">Back to List</a></p>
    {{/block}}
  </section>
</body>
</html>

